@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');


* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    background-color: #000;
}

.top-bar {
    padding: 55px;
    position: absolute;
}


.main-container {
    text-align: center;
    height: 100vh;
}

.presentation {
    width: 90%;
    background-color: #fff;
    margin: 5% auto;
}

/*
.pres #magicMouseCursor {
    border-color: #ff3232 !important;
}
*/

.presentation img {
    width: 100%;
}

.sticky-close {
    position: fixed;
    top: 30px;
    right: 30px;
}
































































.hi {}
